table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.tab-container {
  border-bottom: 2px solid #cccccc;
  margin-bottom: 10px;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.tab-buttons {
  display: flex;
  position: relative;
  gap: 8px;
  padding-left: 10px;
}

.tab {
  padding: 8px 16px;
  border: 1px solid #cccccc;
  background: #eeeeee;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  position: relative;
}

.tab.active {
  background: #3e8ed0;
  font-weight: bold;
  color: white;
}

.search-btn {
  padding: 6px 12px;
  background: #3e8ed0;
  color: white;
  border: none;
  border-radius: 4px;
}

.filter {
  margin: 10px 0;
}

.filter button {
  margin-left: 5px;
}

.result-count {
  margin: 10px 0;
}

div[role=main].list-content-area {
  background-color: #f5f5f5;
}

.list-head-area {
  background-color: #fcfcfc;
}

.display-title {
  font-size: 22px;
  font-weight: bold;
  width: 1500px;
  margin: 0px auto;
  padding: 0px 35px;
  padding-top: 30px;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

#ocrTable th:nth-child(2), 
#ocrTable td:nth-child(2) {
  min-width: 150px;
}

#ocrTable th:nth-child(3), 
#ocrTable td:nth-child(3) {
  min-width: 300px;
}

#generatedTable th:nth-child(2), 
#generatedTable td:nth-child(2) {
  min-width: 150px;
}